body {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin: 0px;
    color: lightgray;
}

button {
    background-color: #222;
    border: 2px solid lightgray;
    border-radius: 2px;
    text-align: center;
    color: lightgray;
    cursor: pointer;
    font-size: 2vh;
    width: 8vw;
    height: 6vh;
}

button:active, button.selected {
    background-color: lightgray;
    color: #222;
}

button:disabled {
    border-color: #555;
    color: #555;
}

.cancel-button {
    border-color: tomato;
    color: tomato;
}

.cancel-button:active {
    background-color: tomato;
    color: #222;
}

.submit-button {
    border-color: lightskyblue;
    color: lightskyblue;
}

.submit-button:active, .submit-button.selected {
    background-color: lightskyblue;
    color: #222;
}

input {
    background-color: #444;
    border: 2px solid lightgray;
    border-radius: 2px;
    color: lightgray;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 2vh;
}

.standard-border {
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    border: 2px solid lightgray;
}

.standard-header {
    flex: 0 0 8vh;
    border-bottom: 2px solid lightgray;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
    justify-items: center;
}

.justify-end {
    justify-content: flex-end;
    justify-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
    justify-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-content: center;
    align-items: center;
}

.align-end {
    align-content: flex-end;
    align-items: flex-end;
}

.align-start {
    align-content: flex-start;
    align-items: flex-start;
}

.login-form {
    margin: 33vh 33vw 33vh 33vw;
    width: 34vw;
    height: 34vh;
    font-size: 3vh;
}

.login-form .id-input {
    width: 10vw;
    margin-top: 3vh;
}

.login-form button {
    margin-top: 3vh;
}

.lobby-section {
    top: 0vh;
    left: 0vw;
    width: 95vw;
    height: 95vh;
    position: absolute;
    background-color: #222;
    z-index: 80;
    animation: lobby-ani 0.5s;
}

@keyframes lobby-ani {
    from { left: -95vw; }
    to { left: 0vw; }
}

.lobby-section-hidden {
    top: 0vh;
    left: -94vw;
    width: 96vw;
    height: 97vh;
    padding: 0px;
    text-align: right;
    position: absolute;
    background-color: #222;
    z-index: 80;
    animation: lobby-hide 0.5s;
}

@keyframes lobby-hide {
    from { left: 0vw; }
    to { left: -95vw; }
}

.lobby-section-hidden button {
    width: 4vw;
    height: 97vh;
    padding-right: 1vw;
    text-align: right;
    border: none;
}

.lobby-section .lobby-splash {
    flex: 1 1;
    font-size: 6vh;
}

.lobby-section .lobby-content {
    flex: 2 2;
}

.lobby-section .lobby-list {
    flex: 1 1;
}

.lobby-section .lobby-list-header {
    width: 90%;
}

.lobby-section .lobby-list .msg-text {
    margin-top: 2vh;
}

.lobby-section .lobby-list .lobby-entries {
    list-style-type: none;
    padding-inline-start: 0px;
    width: 90%;
    overflow: hidden;
    overflow-y: auto;
    max-height: 75vh;
}

.lobby-section .lobby-list .lobby-entry {
    width: 100%;
}

.lobby-section .lobby-list .lobby-entries button {
    width: 90%;
    margin: 0.5vh 5% 0.5vh 5%;
    height: 11vh;
}

.lobby-section .lobby-list .lobby-entries button.creator {
    border-color: lightskyblue;
    color: lightskyblue;
}

.lobby-section .lobby-list .lobby-entries button.creator.selected {
    border-color: lightskyblue;
    color: #222;
}

.lobby-section .lobby-list .lobby-entries button.member {
    border-color: green;
    color: green;
}

.lobby-section .lobby-list .lobby-entries button.member.selected {
    border-color: green;
    color: #222;
}

.lobby-section .lobby-list .lobby-entries button .name {
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    border-bottom: 2px solid lightgray;
}


.lobby-section .lobby-list .lobby-entries button.creator .name {
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    border-bottom: 2px solid lightskyblue;
}
.lobby-section .lobby-list .lobby-entries button.member .name {
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    border-bottom: 2px solid green;
}

.lobby-section .lobby-list .lobby-entries .descriptor {
    flex: 1 1;
}

.lobby-section .lobby-list .lobby-entries .players {
    width: 100%;
    flex-wrap: wrap;
}

.lobby-section .lobby-list .lobby-entries .player {
    width: 50%;
    flex-wrap: wrap;
}

.lobby-popup {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: -35vw;
    width: 28vw;
    background-color: #222;
    z-index: 90;
    animation: popup-ani 0.25s ease 0.25s;
    animation-fill-mode: forwards;
}

@keyframes popup-ani {
    from { left: -35vw; }
    to { left: 1vw; }
}

.lobby-popup .error {
    margin: 2vh 2vw 2vh 2vw;
    color: tomato;
}

.lobby-popup .close-button {
    width: 4vh;
    height: 4vh;
}

.lobby-popup .option-button {
    flex: 1 1;
}

.lobby-popup .player-list {
    flex: 1 1;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0px;
    border: 2px solid lightgray;
    padding-inline-start: 1vw;
    list-style-type: none;
}

.lobby-popup .form-header {
    width: 90%;
    margin-bottom: 2vh;
}

.lobby-popup .form-row {
    margin-bottom: 2vh;
    width: 90%;
    flex: 1 1;
}

.lobby-popup input.form-row {
    width: 70%;
}

.game {
    margin-left: 4vw;
    width: 93vw;
    height: 95vh;
    text-align: center;
}

.game .error {
    margin-top: 30vh;
    color: tomato;
}

.game .game-board {
    width: 100%;
    height: 100%;
}

.game .coin {
    stroke-width: 0px;
    fill: lightgray;
    cursor: grab;
}

.game .svg-text {
    font-size: 1.25vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game .grabbable {
    cursor: grab;
}

.game .grabbing {
    cursor: grabbing;
}

.game .coin-label {
    fill: #222;
}

.game .coin-count-back {
    fill: #222;
    stroke: lightgray;
    stroke-width: 2px;
}

.game .coin-count-text {
    fill: lightgray;
}

.game .drop-zone {
    fill-opacity: 0.0;
    cursor: grabbing;
}

.game .hex-space {
    stroke: lightgray;
    stroke-width: 6px;
    fill: #222;
}

.game .hex-space.control {
    stroke: green;
}

.game .player-zone {
    stroke: lightgray;
    stroke-width: 3px;
    fill: #222;
}

.game .zone-label {
    fill: lightgray;
}

.game .hover {
    fill: navy;
}